* {
    box-sizing: border-box;
}

body {
    background-color: #F3A94A;
    font-family: sans-serif;
}

header h1 {
    color: #333;
    text-align: center;
}

main {
    background-color: #F9F9F8;
    max-width: 1200px;
    margin: auto;
    padding: 16px;
}

main p {
    margin: auto;
    text-align: center;
    max-width: 800px;
}

main form {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
}

.form-row {
    display: flex;
    width: 100%;
    max-width: 600px;
    justify-content: space-between;
    margin: 5px 0;
}

.form-group {
    display: flex;
    flex-direction: column;
    margin: 10px 15px;
    width: 100%;
    /* flex-basis: 50%; */
}

.input-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.input-wrapper--left {
    justify-content: flex-start;
}

.input-wrapper input[type="text"], .input-wrapper input[type="email"], .input-wrapper input[type='number'] {
    width: 270px;
    padding: 12px;
}

.radio-wrapper, .checkbox-wrapper {
    margin: 5px;
}

label {
    margin-bottom: 5px;
    font-weight: bold;
}   

input[type="radio"] +span, input[type="checkbox"] +span {
    margin-left: 5px;
    width: 100%;
    max-width: 250px;
}

select {
    padding: 11px;
}

textarea {
    width: 100%;
    padding: 11px;
}

input:invalid:not(:focus):not(:placeholder-shown) {
    box-shadow: #B0664C 0px 0px 1.5px 3px;
}

button {
    padding: 11px;
    background-color: #F3A94A;
    border: 1px solid #333;
    transition: all 0.4s ease;
    width: 100px;
}

button:hover {
    width: 100%;
    transition: all 0.4s ease;
    padding: 16px;
    font-weight: bold;
}

button:active {
    transition: all 0.4s ease;
    background-color: #F9F9F8;
}

@media (min-width: 800px) {
    main {
        padding: 24px;
    }
}